body {
  margin: 0;
  min-height: 100vh;
  background-image: url("/public/sfondo.jpg");
  background-size: cover; /* Imposta la dimensione dell'immagine in modo che copra l'intero sfondo */
  background-repeat: no-repeat; /* Impedisce la ripetizione dell'immagine di sfondo */
  background-position: center center; /* Centra l'immagine di sfondo sia verticalmente che orizzontalmente */
}

h1 {
  font-size: 55pt;
  color: white;
}

h2 {
  font-size: 45pt;
  color: white;
}

h3 {
  font-size: 35pt;
  color: white;
}

h4 {
  font-size: 25pt;
  color: white;
}

h5 {
  font-size: 15pt;
  color: white;
}

.SB_Container {
  background-color: rgba(227, 227, 227, 0.692);
  border-radius: 20px;
  padding: 10px;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
}

.SB_button {
  background-color: rgb(8, 142, 180);
  border-radius: 20px;
}

.SB_Input {
  border-radius: 20px;
  border-color: rgba(73, 74, 74, 0.87);
  min-height: 20px;
  background-color: white;
}

.SB_Container h3 {
  display: inline-block;
}

.row_big {
  background-color: rgba(227, 227, 227, 0.494);
  min-height: 300px;
  padding-top: 25px;
  padding-bottom: 25px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 20px;
  justify-content: space-around;
}

.Col_01 {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 5px;
  border-radius: 20px;
  padding: 15px;
  background-color: rgba(184, 238, 242, 0.644);
}
.Col_01 h1 {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  border-radius: 100%;
  padding: 10px;
  background-color: rgb(8, 142, 180);
  aspect-ratio: 1/1;
}

.Details{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5px;
  border-radius: 20px;
  padding: 15px;
  background-color: rgba(184, 238, 242, 0.644);
  flex-direction: row;
}
.information {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.information h5 {
  margin-right: 50px;
}

.Details h4{
 text-align: center;
}

.WeatherIcon {
  background-color: rgb(69, 176, 205);
  border-radius: 20px;
  color: White;
  scale: 500%;
}

@media screen and (max-width: 768px) {
  h1 {
    font-size: 35pt;
  }
  h2 {
    font-size: 25pt;
  }
  h3 {
    font-size: 20pt;
  }
  h4 {
    font-size: 15pt;
  }
  h5 {
    font-size: 10pt;
  }
  .row_big {
    background-color: rgb(227, 227, 227);
    padding-top: 8px;
    padding-bottom: 8px;
    border-radius: 20px;
    justify-content: space-around;
  }
  .SB_Container h5 {
    display: none;
  }
  .WeatherIcon {
    scale: 300%;
    position: relative;
    bottom: 50px;
    right: 105px;
  }

}
@media screen and (min-width: 768px) and (max-width: 992px) {
  .WeatherIcon {
    scale: 400%;
    position: relative;
    bottom: 60px;
    right: 125px;
  }
  h1 {
    font-size: 45pt;
  }
  h2 {
    font-size: 35pt;
  }
  h3 {
    font-size: 25pt;
  }
  h4 {
    font-size: 15pt;
  }
  h5 {
    font-size: 10pt;
  }
  .row_big {
    background-color: rgb(227, 227, 227);
    padding-top: 8px;
    padding-bottom: 8px;
    border-radius: 20px;
    justify-content: space-around;
  }
}
.myFooter {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 50px;
  text-align: center;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  align-items: center;
}
